:root {
  --header-font-family: Arial, Helvetica, sans-serif;
  --main-font-family: Arial, Helvetica, sans-serif;
  --main-text-color: #232946;
}

* {
  margin: 0;
  padding: 0;
}

::placeholder {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  color: #777;
}

td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

select,
option,
textarea {
  font-size: 16px;
}

textarea {
  border-color: #121629;
  border-radius: 2px;
}

.contact-form input {
  border-color: #000;
  border-radius: 2px;
  border-width: 1px;
  font-size: 16px;
}

.menu__link {
  font-family: var(--header-font-family);
}

.menu__link:hover {
  color: #777;
}

.site-header__link {
  display: block;
  padding: 20px 14px 20px 14px;
}

.site-header {
  margin-bottom: 20px;
}

.site-main {
  border-radius: 5px;
  background-color: #fffffe;
}

.site-main__content-wrapper {
  padding: 24px;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 21px;
  width: 100%;
  justify-content: flex-end;
}

.navbar__logo {
  display: block;
  max-width: 80px;
  border-radius: 50%;
  margin-left: 3em;
  margin-right: 3em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  scrollbar-width: none;
}

.content__header {
  text-align: left;
  margin-bottom: 20px;
  color: #232946;
}
.site-header__navbar {
  display: flex;
  height: 104px;
  align-items: center;
  margin: 0 auto;
}
.content__image {
  display: table;
  margin: 10px auto;
  max-height: 256px;
  border-style: solid;
  border-color: #121629;
  border-radius: 3px;
  border-width: 1px;
}

.banner {
  display: block;
  margin: auto;
  max-width: 80%;
  margin-bottom: 40px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.content__menu {
  margin: auto;
  margin-bottom: 40px;
  max-width: 96%;
  display: block;
  justify-content: space-between;
  color: #232946;
}

.content__body + .content__body {
  margin-bottom: 40px;
}

.image-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  max-width: 18%;
  padding: 0.5em;
}

.col > img {
  width: 100%;
}

.contact-form__wrapper {
  max-width: 384px;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
}

.contact-form__field {
  margin-bottom: 10px;
}

.contact-form__buttons {
  display: flex;
  justify-content: space-between;
}

.test-form .menu__item {
  margin-bottom: 20px;
}

.submit {
  width: 96px;
  height: 48px;
  background-color: #eebbc3;
  cursor: pointer;
  border-radius: 3px;
  border-style: none;
  padding: 10px 5px;
  font-size: 16px;
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 640px;
  }
  ul.flex {
    font-size: 16px;
  }
}
