!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %script{:src => "js/script.js", :type => "text/javascript"}
    %title Belov - Index
  %body
    .container
      = Haml::Engine.new(File.read('./includes/_header.haml')).render
      %main.site-main
        .site-main__content-wrapper
          %article.site-main__content
            %h1.content__header Автобиография
            .content__body
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              %img.content__image{:src => "img/bioraphy image.jpg"}/
              %img.content__image{:src => "img/hdmPmBaE2yU.jpg"}/