* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #232946;
  text-overflow: ellipsis;
}
main {
  padding: 2em 2em 2em 2em;
}

a {
  text-decoration: none;
  color: #fffffe;
}

header {
}

a:hover {
  color: #b8c1ec;
}

nav li a {
  display: block;
  padding: 20px 14px 20px 14px;
}

table,
td,
th {
  border: 1px solid black;
}

th {
  text-align: center;
}

main {
  border-radius: 1.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

p,
article,
h2,
h3 {
  color: #232946;
}

input {
  border-color: #121629;
  border-radius: 2px;
  border-width: 1px;
  font-size: 18px;
}
li > textarea,
li > select {
  border-color: #121629;
  border-radius: 2px;
  font-size: 14px;
}

li > ::placeholder {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
textarea {
  border-color: #121629;
  border-radius: 2px;
  font-size: 18px;
}
::placeholder {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

select,
option {
  font-size: 14px;
}

ul.flex {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 21px;
  width: 100%;
  justify-content: flex-end;
}

.navbar__logo {
  display: block;
  max-width: 80px;
  border-radius: 50%;
  margin-left: 3em;
  margin-right: 3em;
}

.menu {
  display: flex;
  height: 104px;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 4px 15px -15px rgb(20 20 20);
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  scrollbar-width: none;
}

main {
  background-color: #fffffe;
}

.biography__footer img {
  max-height: 256px;
  margin-right: 1em;
}

.biography article {
  margin-bottom: 1em;
}

h1.header {
  text-align: left;
  margin-bottom: 1em;
  color: #232946;
}

.footer {
  display: table;
  margin: auto;
}

.image {
  max-height: 256px;
  border-style: solid;
  border-color: #121629;
  border-radius: 5px;
  border-width: 2px;
}

.banner {
  display: block;
  margin: auto;
  max-width: 80%;
  margin-bottom: 3em;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}
.left-text {
  text-align: center;
}

.hobbies__menu {
  margin: auto;
  margin-bottom: 2em;
  max-width: 96%;
  display: block;
  justify-content: space-between;
  color: #232946;
}

main a {
  color: #232946;
}

.hobbies__menu li {
  list-style-type: disc;
  margin-bottom: 0.5em;
}

.interests__element {
  margin-bottom: 4em;
}

.element__header {
  margin-bottom: 1em;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 20%;
  margin: 0.5em;
}
.col > img {
  width: 100%;
}

.contact {
  max-width: 384px;
  font-size: 18px;
}

.contact > form {
  display: flex;
  flex-direction: column;
}

.contact > form > * {
  margin-bottom: 0.5em;
}

.genders > p {
  margin-bottom: 0.25em;
}

.contact__footer {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 96px;
  height: 48px;
  background-color: #eebbc3;
  cursor: pointer;
  border-radius: 3px;
  border-style: none;
  padding: 10px 5px;
  font-size: 16px;
}

.test {
  margin-left: 1em;
}

.test__question {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 960px) {
  ul.flex {
    font-size: 16px;
  }
}
